body {
  background-image:  linear-gradient(to right,#000040,#400000,#000040);
}

hr{
  border-color: #ffc000;
  border-style: none;
  border-top-style:  solid;
  border-width: 3px;
  width: 95%;
}


h1{
  font-size: 40px;
  background-image:  linear-gradient(to bottom,#ff0000,#ffc000);
  -webkit-background-clip:  text;
  -webkit-text-fill-color:  transparent;

}

p{
  font-size: 14px;
  background-image:  linear-gradient(to bottom,#ff0000,#ffb000);
  -webkit-background-clip:  text;
  -webkit-text-fill-color:  transparent;
}

h2{
  font-size: 30px;
  background-image:  linear-gradient(to bottom,#ff4000,#ffff00);
  -webkit-background-clip:  text;
  -webkit-text-fill-color:  transparent;
}

h3{
  font-size: 22px;
  background-image:  linear-gradient(#ff8000, #b0ff00);
  -webkit-background-clip:  text;
  -webkit-text-fill-color:  transparent;
}

h4{
  font-size: 16px;
  background-image:  linear-gradient(to bottom,#ffa000,#80ff00);
  -webkit-background-clip:  text;
  -webkit-text-fill-color:  transparent;
}

table{
  font-size: 14px;
  background-image:  linear-gradient(to bottom,#ff0000,#ffb000);
  -webkit-background-clip:  text;
  -webkit-text-fill-color:  transparent;
}
